<% if (flashSuccess && flashSuccess.length) { %>
    <div class="success-box">
        <p>
        <%= flashSuccess  %>
        </p>
    </div>
<% } %> 


<% if (flashError && flashError.length) { %>
    <div class="error-box">
        <p>
        <%= flashError  %>
        </p>
    </div>
<% } %> 
