<% if (flashSuccess && flashSuccess.length) { %>
    <div class="success-box">
        <%= flashSuccess  %>
    </div>
<% } %> 


<% if (flashError && flashError.length) { %>
    <div class="error-box">
        <%= flashError  %>
    </div>
<% } %> 
