<nav class="navbar">
    <div class="nav-content">
        <div class="first-line">
            <div class="nav-title"><a href="/">Typnonym</a></div>
            <div class="toggle-button">
                <span class="toggle-button-line"></span>
                <span class="toggle-button-line"></span>
                <span class="toggle-button-line"></span>
            </div>
        </div>

        <div class="nav-links">
            <ul>
                <li><a href="/scoreboard">Scoreboard</a></li>
                <% if (!currentUser) { %>
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/user/register">Register</a></li>
                <% } else { %>
                    <li><a href="/user/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>