<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boilerplate</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/javascript/game-page-javascript.js"></script>
    <script defer src="/javascript/form-design.js"></script>
</head>

<body>
    <%- include("../partials/navbar.ejs")  %> 
    <div class="main-container">
        <div class="container">
            <div>
                <%- include("../partials/flashMessage.ejs")  %> 
            </div>
            <%- body %>
        </div>
    </div>
</body>

</html>