html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* --------------------------------- */
html {
    /* background-color: #256D85; */
    background-color: #89cadf;
}

.body {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
.main-container {
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    width: 768px;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
}

.section {
    margin: 10px;
    padding: 10px;
    /* background-color: aliceblue; */
}


.timerboard {
    display: flex;
    justify-content: space-between;
}

.instruction-timer {
    text-align: left;
}


.typing-box {
    padding: 1.5rem;
    border-width: 0px;
    background-color: transparent;
    min-height: 28px;
    outline: currentcolor none 0px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    height: 70px;
    line-height: 70px;
    appearance: none;
    resize: none;
    box-sizing: border-box;
    font-size: 18px;
    width: 100%;
    color: rgb(193, 194, 197);
    background-color: rgb(5, 30, 46);
    display: block;
    text-align: left;
}

.scoreboard {
    display: flex;
}

.scoreboard div {
    width: 50%;
    padding: 20px
}

.score {
    background-color: #47B5FF;
}

.wpm {
    background-color: #DFF6FF;

}


.options {
    display: flex;
    justify-content: space-around;
}

#instruction span {
    font-style: italic;
    margin: 0rem 0.7rem;
    font-weight: bold;
    font-size: 1rem;
}
#instruction.active {
    display: none;
}

#word-display {
    display: none;
    justify-content: space-between;
}

#word-display.active {
    display: flex;
}

#restart-button {
    display: none;
}

#restart-button.active {
    display: inline;
}

#save-form {
    display: none;
}

/* don't show input to user, manually enter through javascript logic for game-page */
#save-form input {
    display: none;
}

#save-form.active {
    display: block;
}

.letter-correct {
    color: lightgreen
}
.letter-incorrect {
    color: lightcoral;
}


/* Button css credit goes to https://codepen.io/yuhomyan/pen/OJMejWJ, although I made some minor changes */
button {
    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: lightblue;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-16 {
    color: #000;
}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-16:hover {
    color: #000;
}

.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}


/* Leaderboard & Show Page*/
.header {
    font-family: 'Courier New', Courier, monospace;
    margin: 50px 0px 20px 0px;
}

.header h1 {
    font-size: 2rem;
    font-weight: 600;
}

.leaderboard-content {
    width: 100%; 
    text-align: right;
}

.leaderboard-content ul {
    list-style: lower-roman;
}
.leaderboard-scores-box {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    background-color: rgb(37,109,133);
    padding: 20px;
    border-radius: 5px;
    color: whitesmoke;
}

.leaderboard-scores-box:hover {
    background-color: rgb(53, 126, 150);
}

.leaderboard-scores-player-scores {
    display: flex;
}

.leaderboard-scores-player-scores p {
    margin-left: 4rem;
}

.page-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divider {
    width: 100%;
}

/* .divider-2 {
    width: 50px;
    border: dotted 2px;
} */

.header-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.profile-options {
    display: flex;
}

.profile-options a:hover {
    color: rgb(6, 40, 61);
    font-weight: 800;
}

.game-history {
    margin: 30px 0px;
}

.game-history-details {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}



/* ---------------------NAVBAR------------------------------------------ */

.navbar {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    background-color: #06283D;
    color: white;
}

.nav-content {
    width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 1.4rem;
}

.nav-links ul {
    display: flex;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.15rem;
    display: block;
}

.nav-links li:hover {
    background-color: lightgray;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-button .toggle-button-line {
    height: 2px;
    width: 100%;
    background-color: white;

}

@media (max-width: 768px) {
    .first-line {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 20px 15px 20px 15px;
    }

    .toggle-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        width: 100%;
    }

    .nav-content {
        flex-direction: column;
        width: inherit;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
    }

    .nav-links {
        margin-top: 20px;
        display: none;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100vw;
    }

    .nav-links.active {
        display: flex;
    }

    .container {
        margin: 40px 50px;
    }
    .form-box {
        width: auto;
        max-width: 60%;
    }   
    .leaderboard-scores-player-scores p {
        margin-left: 1rem;
    }
}

/* forms */
.form-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form-box {
    padding: 2rem;
    /* background-color: rgb(148, 177, 190); */
    background-color: white;
    width: 500px;
    /* align-content: center; */
    border-radius: 5px;
    text-align: center;
}

.form-title {
    font-weight: bold;
    font-size: 2rem;
}

.form-input {
    padding: 1rem;
    border-width: 1px;
    background-color: rgb(240,243,246);
    min-height: 28px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    height: 50px;
    line-height: 48px;
    resize: none;
    box-sizing: border-box;
    font-size: 18px;
    width: 100%;
    display: block;
    text-align: left;
    margin-top: 10px;
    border-radius: 5px;
}

.form-content {
    margin-top: 50px;
}

.form-content div {
    margin-bottom: 10px;
    text-align: left;
}
.form-content div label {
    display: none
}
.form-button {
    margin: 50px 0px;
    /* background-color: rgb(81, 127, 169); */
    background-color: rgb(61, 180, 242);
    padding: 10px;
    width: 50%;
    cursor: pointer;
    height: 100%;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1.5rem
}

.error {
    margin: 10px 0;
    font-size: 1rem;
}

/* ------- Flash Messages --------*/
.success-box {
    background-color: lightgreen;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0px;
    word-break: break-all;
    text-align: center;
} 

.error-box {
    background-color: #ffcccb;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0px;
    white-space: normal;
    text-align: center;
} 


/* Erorr Message Page */
.error-page-wrapper {
    background-color: lightcoral;
    padding: 0px 30px;
    min-height: 400px;
}

.error-found-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50%;
}