<% layout("/layouts/boilerplate.ejs") %>
    <div class="form-wrapper">
        <div class="form-box">
            <h1 class="form-title">Confirm Delete</h1>
            <form id="form" action="/user/<%= searchedUser._id %>?__method=DELETE" method="post" novalidate>
                <button class="form-button">Delete</button>
            </form>
        </div>
    </div>

    
    