<% layout("/layouts/boilerplate.ejs") %>
    <h1>Score Board</h1>
    <div>
        <ul>

        </ul>
    </div>
    <div class="header">
        <h2 class="leaderboard-title">Leaderboard</h2>
        <p class="leaderboard-sub-title">Here's a list of all the top-rankers from our users</p>
    </div>
    <div class="leaderboard-content">
        <% for (let user of allUser) { %>
            <div class="leaderboard-scores-box">
                <p>
                    <a href="/user/<%= user._id %> ">
                        <%= user.username %>
                    </a>
                </p>
                <div class="leaderboard-scores-player-scores">
                    <p>user.score</p>
                    <p>user.score</p>
                </div>
            </div>
        <% } %>
    </div>